$white: #fff;
$black: #000;
$gray: #999;
$borderLight: #e2e8f0;
$primary: #615ef0;
$primaryHover: #504de0;
$primaryActive: #3f3dcf;
$error: #f56565;
$backgroundDisabled: #f3f3f3;
$placeholder: rgba(0, 0, 0, 0.4);
