@use 'app/styles/variables' as *;

.button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all 0.2s;

  font-size: 14px;
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.underline {
    color: $gray;
    padding: 12px 20px;
    position: relative;

    &:hover:not(:disabled) {
      color: $black;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $primary;
      transform: scaleX(0);
      transition: transform 0.2s;
    }

    &.active {
      color: $black;

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &.filled {
    background-color: $primary;
    color: $white;
    padding: 12px 24px;
    border-radius: 12px;

    &:hover:not(:disabled) {
      background-color: $primaryHover;
    }

    &:active:not(:disabled) {
      background-color: $primaryActive;
    }
  }

  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
}
