@use 'app/styles/variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .label {
  }

  .input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid $borderLight;
    border-radius: 12px;
    background-color: $white;
    outline: none;
    transition: border-color 0.2s;

    color: $black;
    font-weight: 400;

    &::placeholder {
      color: $placeholder;
      opacity: 1;
    }

    &:focus {
      border-color: $primary;
    }
  }

  &.inputDisabled {
    .input {
      background: $backgroundDisabled;
      cursor: not-allowed;
    }
  }

  &.inputError {
    .input {
      border-color: $error;

      &:focus {
        border-color: $error;
      }
    }
  }

  .error {
    color: $error;
    font-size: 12px;
    font-weight: 400;
  }
}
